
data&code/ctadata/trips.csv
data&code/ctadata/transfers.txt
data&code/ctadata/stops.csv
data&code/ctadata/stop_times.csv
data&code/ctadata/shapes.txt
data&code/ctadata/routes.csv
data&code/ctadata/frequencies.txt
data&code/ctadata/developers_license_agreement.htm
data&code/ctadata/calendar_dates.csv
data&code/ctadata/calendar.csv
data&code/ctadata/agency.txt
data&code/chitracts_f.geojson
data&code/chitracts.geojson
data&code/chistops.geojson
data&code/chistations.qmd
data&code/chistations.geojson
data&code/chiIntersect200.qmd
data&code/chiIntersect200.geojson
data&code/chicagotracts.csv
data&code/chi_dataintersect.qmd
data&code/chi_dataintersect.geojson
data&code/chi_datacensus.geojson
data&code/chi_databuffer.geojson
data&code/Chi200IndivBuff.qmd
data&code/Chi200IndivBuff.geojson
data&code/500mVan.qmd
data&code/500mVan.geojson
data&code/400mIntersection.qmd
data&code/400mIntersection.geojson
data&code/400mbuffer.qmd
data&code/400mbuffer.geojson
data&code/200mIntersection.qmd
data&code/200mIntersection.geojson
data&code/200mIndivBuffer.qmd
data&code/200mIndivBuffer.geojson
data&code/200mbufferChi.qmd
data&code/200mbufferChi.geojson
data&code/200mbuffer.qmd
data&code/200mbuffer.geojson
data&code/1kmVan.qmd
data&code/1kmVan.geojson
data&code/1kmgridVan.qmd
data&code/1kmgridVan.geojson
data&code/splitgeojson/centroids_1.geojson
data&code/splitgeojson/centroids_2.geojson
data&code/splitgeojson/centroids_3.geojson
data&code/splitgeojson/centroids_4.geojson
data&code/splitgeojson/centroids_5.geojson
data&code/splitgeojson/centroids_6.geojson
data&code/stops.csv
data&code/translinkdata/agency.txt
data&code/translinkdata/calendar.csv
data&code/translinkdata/calendar_dates.csv
data&code/translinkdata/direction_names_exceptions.txt
data&code/translinkdata/directions.txt
data&code/translinkdata/feed_info.txt
data&code/translinkdata/route_names_exceptions.txt
data&code/translinkdata/routes.csv
data&code/translinkdata/shapes.csv
data&code/translinkdata/signup_periods.txt
data&code/translinkdata/stop_order_exceptions.txt
data&code/translinkdata/stop_times.csv
data&code/translinkdata/stops.csv
data&code/translinkdata/transfers.csv
data&code/translinkdata/trips.csv
data&code/van_databuffer.geojson
data&code/van_datacensus.geojson
data&code/van_dataintersect.geojson
data&code/van_dataintersect.qmd
data&code/vancensus.geojson
data&code/vanstops.geojson
data&code/vanstops.qmd
data&code/vanstops3857.geojson
data&code/vanstops3857.qmd
